[submodule ".vim/pack/default/start/vim-airline"]
	path = .vim/pack/default/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/default/start/gruvbox"]
	path = .vim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/pack/default/start/ale"]
	path = .vim/pack/default/start/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/pack/default/start/vim-signify"]
	path = .vim/pack/default/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".vim/pack/default/start/ultisnips"]
	path = .vim/pack/default/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/pack/default/start/pdv"]
	path = .vim/pack/default/start/pdv
	url = https://github.com/tobyS/pdv.git
[submodule ".vim/pack/default/start/vmustache"]
	path = .vim/pack/default/start/vmustache
	url = https://github.com/tobyS/vmustache.git
[submodule "fonts/fonts"]
	path = fonts/fonts
	url = https://github.com/powerline/fonts.git
[submodule ".vim/pack/default/start/vim-javascript"]
	path = .vim/pack/default/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/default/start/vim-jsx"]
	path = .vim/pack/default/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule ".vim/pack/default/start/vim-jsdoc"]
	path = .vim/pack/default/start/vim-jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
[submodule ".vim/pack/default/start/apiblueprint.vim"]
	path = .vim/pack/default/start/apiblueprint.vim
	url = https://github.com/kylef/apiblueprint.vim.git
[submodule ".vim/pack/default/start/vim-windowswap"]
	path = .vim/pack/default/start/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap.git
