## Set nicer colours (see https://i.stack.imgur.com/xjBuI.png)
# default statusbar colors
set-option -g status-style bg=colour235,fg=yellow

# default window title colors
set-window-option -g window-status-style fg=colour033
set-window-option -g window-status-current-style fg=colour045

# pane border
set-option -g pane-border-style fg=colour247
set-option -g pane-active-border-style fg=colour010

# Don't sync screen size across terminal windows
set-option -g aggressive-resize on

# message text
set-option -g message-style bg=colour235,fg=white

# Show pane title on border
set-option -g pane-border-status top
set-option -g pane-border-format "#{pane_index} #T #{pane_current_command}"

# Show pane cwd in status bar
set-option -g status-position bottom
set-option -g status-right "#{pane_current_path}"
set-window-option -g window-status-format " #W "
set-window-option -g window-status-current-format "[#W]"

# Set prefix to Ctrl-Space
unbind C-b
set -g prefix C-Space
bind Space send-prefix

# Split panes using | and -
bind \\ split-window -h -c '#{pane_current_path}'
bind - split-window -v -c '#{pane_current_path}'
unbind '"'
unbind %

# Make tree picker nicer and not have the preview
bind s choose-tree -Ns
bind w choose-tree -Nw

# Rebind pane switching without the repeat
bind-key Up select-pane -U
bind-key Down select-pane -D
bind-key Left select-pane -L
bind-key Right select-pane -R

# Allow windows to be different sizes
setw -g aggressive-resize on

# Set a more helpful window title on the terminal
set-option -g set-titles on
set-option -g set-titles-string "Tmux #{session_name}: #{window_name} (#{window_panes})"

# Only pass terminal bells to the window manager if they occur in the current window
set-option -g visual-bell off
set-option -g bell-action current

# Reduce escape key delay time
set-option -sg escape-time 10

# Make colours work properly
set -g default-terminal "tmux-256color"
set -ag terminal-overrides ",xterm-256color:RGB"

# Pass focus events to termials when switching panes
set -g focus-events on

## Load plugins (https://github.com/tmux-plugins/tpm)
set -g @plugin "tmux-plugins/tpm"
set -g @plugin 'tmux-plugins/tmux-resurrect'

# Keep the contents of panes when saved
set -g @resurrect-capture-pane-contents 'on'

# Restore vim sessions if possible
set -g @resurrect-strategy-vim 'session'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
